<h1 class="text-center mt-4" >About Alpha Blog</h1>

<div class="container">
    <h2>Mission</h2> 
    Amet adipisicing eiusmod nostrud culpa aliqua voluptate Lorem sunt non est tempor. Proident do quis qui dolore dolore nulla anim. Amet enim minim eu nostrud ad commodo commodo ut sit aliqua non ipsum. Sunt laborum eu fugiat enim incididunt sit minim id exercitation consequat laborum consectetur sunt. Proident incididunt ea nisi eu culpa occaecat eu cupidatat aute exercitation amet.
</div>

<div class="container">
    <h2>Vision</h2>
    Voluptate pariatur est mollit aliqua Lorem duis nostrud fugiat consectetur ullamco cillum excepteur aliqua. Lorem eiusmod occaecat dolor commodo sit ex tempor aute amet commodo. Ad deserunt ut proident ut esse. Enim laborum id fugiat exercitation duis et duis duis ad. Nulla sint esse et incididunt.
</div>