<h1>About</h1>

<h2>What is Alpha Blog</h2>
<section class="principal">
    <div class="show">
        Amet adipisicing eiusmod nostrud culpa aliqua voluptate Lorem sunt non est tempor. Proident do quis qui dolore dolore nulla anim. Amet enim minim eu nostrud ad commodo commodo ut sit aliqua non ipsum. Sunt laborum eu fugiat enim incididunt sit minim id exercitation consequat laborum consectetur sunt. Proident incididunt ea nisi eu culpa occaecat eu cupidatat aute exercitation amet.
    </div>
</section>